@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme] {
  background-color: #fff;
}

.css-1sj2jcg-MuiTabs-indicator {
  height: 0 !important;
  background-color: inherit !important;
}
.css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
  border-radius: 20px !important;
  font-size: "5px";
}

.css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
}

::-webkit-scrollbar {
  width: 12px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 6px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5 !important;
}

html {
  scrollbar-width: thin !important;
  scrollbar-color: #cfcfcf #f1f1f1 !important;
}

html {
  scroll-behavior: smooth;
}
